.navbar__container {
  display: flex;
  padding: 0 180px;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: -1px -17px 20px 0px #000;

  .logo {
    width: 60px;
    display: block;
    margin: 5px 0;
  }

  .links-wrap {
    height: 100%;
    a {
      margin-right: 5px;
    }

    .active {
      text-decoration: underline;
    }
  }
}
