.navbar__container {
  background-color: #fff;
  height: auto;
  display: flex;
  // padding: 0 180px;
  justify-content: space-between;
  // align-items: flex-end;
  box-shadow: -1px -17px 20px 0px #000;

  .logo {
    width: 50px;
    display: block;
    padding: 10px 0;
  }

  // .links-wrap {
  //   height: 100%;
  //   a {
  //     margin-right: 5px;
  //   }

  .active {
    // text-decoration: underline;
  }
  // }
}
