.table-wrap {
  table {
    margin: auto;
    width: 65%;
  }
  thead {
    padding: 10px 0;
    tr {
      text-align: center;
    }
  }
}

.generator__container {
  min-height: 250px;
}

.controls__wrap {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.table-card {
  margin-top: 20px;

  button {
    margin: 0 11px 5px;
  }
}

.table-error {
  color: #ff4d4f;
  text-align: center;
}
