:root {
  --red: #ff4d4f;
  --green: #389e0d;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}
.site-layout {
  min-height: 100vh !important;
}

.content-layout {
  margin: 24px 12px;
  padding: 12px;
  background-color: #fff;
  position: relative;
}

/* button.with-icon-center {
  display: flex;
  align-items: center;
  justify-content: center;
} */
