.page__header {
  display: flex;
  align-items: center;
  // justify-content: space-between;

  .page__title {
    margin-bottom: 0;
  }

  button {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.table-wrap {
  table {
    margin: auto;
    width: 65%;
  }
  thead {
    padding: 10px 0;
    tr {
      text-align: center;
    }
  }

  tbody {
    tr {
      td {
        &:first-of-type {
          font-weight: bold;
        }
      }
    }
  }

  .true {
    color: var(--green);
  }
  .false {
    color: var(--red);
  }
}

.generator__container {
  min-height: 250px;
}

.controls__wrap {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.table-card {
  margin-top: 20px;

  button {
    margin: 0 11px 5px;
  }
}

.table-error {
  color: #ff4d4f;
  text-align: center;
}
